.primary-btn {
  background-color: #ba2329;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.09), 0 4px 6px rgba(0, 0, 0, 0.13);
  border: none;
  border-radius: 4px;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 800;
  margin: 5px 0;
  outline: none;
  padding: 7px 18px;
  transition: 0.12s ease;

  i {
    padding-left: 4px;
  }
}

.primary-btn:hover {
  background-color: #ca272c;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19), 0 4px 6px rgba(0, 0, 0, 0.23);
}

@media (min-width: 630px) {
  .primary-btn {
    padding: 7px 38px;
  }
}
