.mobile-timeline-banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 50px;
  align-items: center;
}

.timeline-banner-container {
  position: fixed;
  width: 100%;
}

.current-step-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

.current-step-number {
  text-align: right;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
  span {
    font-weight: 600;
  }
}

.banner-wrapper {
  text-align: center;

  p {
    font-size: 12px;
    font-weight: 100;
    padding: 0 10%;
  }
}

.desktop-wrapper {
  display: none;
}

.timeline-container {
  display: grid;
  justify-content: center;
  width: 100%;
}

.timeline-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 400px !important;
}

.timeline-wrapper:first-of-type(div)::before {
  content: "";
  border-bottom: 0px !important;
}

.timeline-entry {
  display: grid;
  text-align: center;
  height: 25px;
  margin: 20px;

  .icon {
    display: grid;
    align-items: center;
    justify-content: center;

    div {
      margin-top: 5px;
      opacity: 1;
      width: 10px !important;
      height: 10px !important;
      border: 2px solid rgba(128, 128, 128, 0.452);
      transition: 0.25s ease;
    }
  }

  span {
    font-size: 10px;
    margin-top: 6px;
    opacity: 0.2;
    font-weight: 100;
  }
}

.timeline-entry::before {
  content: "";
  position: absolute;
  width: 50px;
  border-bottom: 1px solid black;
  opacity: 0.2;
  margin-top: 10px;
  margin-left: -43px;
}

.done::before,
.active::before {
  content: "";
  border-bottom: 1px solid #ba2329;
  margin-left: -38px;
  width: 40px;
}

.timeline-entry.active {
  .icon {
    display: grid;
    align-items: center;
    justify-content: center;
    div {
      margin-top: 0px;
      opacity: 1;
      width: 18px !important;
      height: 18px !important;
      border: 5px solid #ba2329;
    }
  }
  span {
    font-weight: 800;
    opacity: 1;
    margin-top: 3px !important;
    color: #ba2329;
    transition: 0.5s ease;
  }
}

.timeline-entry:first-of-type {
  span {
    margin-top: 3px !important;
    color: #ba2329;
  }
}

.timeline-entry:first-of-type::before {
  content: "";
  border-bottom: 0px;
}

.circle {
  border: 2px solid;
  border-radius: 100%;
  padding-top: 3px;
}

.step-dot {
  width: 30px;
  height: 30px;
}

@media (min-width: 300px) {
  .current-step-text {
    font-size: 14px;
  }

  .current-step-number {
    font-size: 24px;
  }
}

.checked {
  border-radius: 10px;
  padding: 5px;
  font-size: 8px !important;
}

@media (min-width: 630px) {
  .mobile-timeline-banner {
    display: none;
  }

  .timeline-banner-container {
    position: relative;
  }

  .desktop-wrapper {
    display: block;
  }

  .banner-wrapper {
    min-height: 125px;
    max-height: 125px;
  }
}
