@keyframes topUpAnimation {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  height: 80px;
  background-color: white;
  transform: translateY(0px);
  animation-name: topUpAnimaiton;
  animation-duration: 2s;
}

.min-height {
  min-height: 100vh !important;
}

.refresh-btn {
  padding: 8px 25px;
  border: none;
  outline: none;
  background-color: white;
  border: 2px solid #007ddb;
  color: #007ddb;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.15s ease;
  font-size: 11px;
  font-weight: 600;

  &--spin {
    pointer-events: none;
    i {
      animation: spin 1s forwards infinite;
    }
  }
}

.refresh-btn:hover {
  background-color: #007ddb;
  color: white !important;
}

.refresh-btn i {
  margin-left: 3px;
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein-animation {
  min-height: calc(100vh - 360px);
  display: grid;
  align-items: center;
  transition: 0.2s ease;
}

.opacity-animation {
  animation-name: opacityIn;
  animation-duration: 0.8s;
}

.delete-btn {
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0.5;
  border: none;
  outline: none;
  margin-left: 15px;
  transition: 0.2s ease;
  font-size: 10px;
  i {
    padding: 0 3px;
  }
}

.delete-btn:hover {
  opacity: 1;
  cursor: pointer;
}

@media (min-width: 630px) {
  .btn-container {
    animation-name: none;
  }

  .refresh-btn {
    padding: 15px 40px;
    font-size: 14px;
  }
}
