footer {
  height: auto;
  display: grid;
  order: 1;
  grid-template-columns: 1fr;

  div {
    text-align: center;
    margin: 20px;

    ul {
      list-style: none;

      li {
        padding: 5px 0;
        a {
          color: rgb(255, 255, 255);
          font-weight: 400;
          transition: 0.2s ease;
        }

        a:hover {
          color: rgba(255, 255, 255, 0.555);
        }
      }
    }
  }
}

.footer-mid {
  order: -1;
  img {
    max-width: 50px;
  }
  div {
    p {
      font-weight: 100;
      color: white;
      font-size: 12px;
    }
  }
}

.footer-title {
  font-weight: 100;
  color: white;
  font-size: 10px;
  cursor: default;
}

@media (min-width: 630px) {
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-mid {
    order: 0;
  }
}
